<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/12400d3a-dad4-4bd9-a005-2eb1d0a327cb/resourceGroups/mmt-oms-rg/providers/Microsoft.Web/sites/maureenmerieltints</ResourceId>
    <ResourceGroup>mmt-oms-rg</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://maureenmerieltints.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>maureenmerieltints.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>maureenmerieltints</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$maureenmerieltints</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="MMTModel" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:jrp-ea.database.windows.net,1433;Initial Catalog=MMT_OMS;Persist Security Info=False;User ID=jmrrgncpz;Password=Martinlx1e;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="Server=tcp:jrp-ea.database.windows.net,1433;Initial Catalog=MMT_OMS;Persist Security Info=False;User ID=jmrrgncpz;Password=Martinlx1e;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="MMT_OMS.MMTModel, MMT-OMS" MigrationConfiguration="MMT_OMS.Migrations.Configuration, MMT-OMS" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="MMTModel-Web.config Connection String">
      <ParameterValue>Server=tcp:jrp-ea.database.windows.net,1433;Initial Catalog=MMT_OMS;Persist Security Info=False;User ID=jmrrgncpz;Password=Martinlx1e;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>